.aboutUsSectionContentWrapperStyling {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
.media {
  img {
    max-width: 80%;
    height: auto;
    max-height: 800px;
  }
}

.content {
  text-align: center;
  .text {
    margin-top: 16%;
  }
  p {
    text-align: center;
    color: #1c1c83;
    font-size: 24px;
    width: 75%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
