.media {
    text-align: center;
    img{
        max-width: 80%;
        height: auto;
        max-height: 800px;
    }
}

.content{
    text-align: center;
    .text{
        margin-top: 16%;
        
    }
    p{
        text-align:center;
        color: #1C1C83;
        font-size: 24px;
        width: 75%;
    }
}
