//Login
.loginPageStyling{
    width: 50%;
    margin: 0 auto;
    border: 0px;
    padding-top: 4%;
}
.loginCardStyling{
    background-color: #ffb61c;
    border-radius: 142px;
    box-shadow: 0px 5px 6px #0000002a;
}

//LoginHeader
.signinLogo{
    margin: 0 auto;
    text-align: center;
    img{
        height: 150px;
    }
} 
.label p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 15%;
    color: #6B0E0E;
}

//LoginForm
.panelStyle{
    width: 80%;
    margin: 0 auto;
    background: none;
    border: 0;
    
}
.formGroup{
    margin: 2%;
    text-align: center;
    ::placeholder{
        color: #6B0E0E;
    }
    p{
        color: #6B0E0E;
    }
    a{
        color: #6B0E0E;
    }
    h5{
        color: #6B0E0E;
    }
}
.formInput{
    border-radius: 34px;
    border: 0px;
    width: 95%;
    height: 60px;
    font-size: 20px;  
    padding-left: 5%;
    margin: 0 auto;
    color: #6B0E0E; 
    box-shadow: 0px 5px 6px #0000002a;
}
.forgotPassword{
    float: right;
    margin-right: 3%;
    a{
        text-decoration: none;
        color: #6B0E0E;
        float: right;
    }
    width: 100%;
}
.formButton{
    background-color: white;
    color: #6B0E0E;
    font-size: 20px;
    border-radius: 34px;
    border: 0;
    width: 189px;
    height: 60px;
    box-shadow: 0px 5px 6px #0000002a;
    .btn:hover{
        background: #6B0E0E;
    }
}
//LoginFormFooter
.shortcutLogin {
    a{
        margin: 2%;
    }
    img{
        width: 50px;
    }
}

