.navigationMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.navItems{
    display:flex;
    padding:10px;
}
.NavItem{
    margin:20px;
}
