//PersonDashboard
.dashboard{
    width: 40%;
    height: 90%;
    background: #7DCCAC;
}
//ProfileCard
.profileCard{
    background: none;
    border: 0px;
}
.profileInfo{
    border-radius: 36px;
    background-color: #FFB61C;
    box-shadow: 0px 5px 6px #0000002a;
    margin: 3% 0;
    padding: 2% 4%;
    font-size: 20px;
}